.label--menu-info-bloco-1 {
    background-color: #88050C;
    color: #fff;
    width: 185px;
    height: 45px;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.link--menu-info-bloco-1 {
    text-decoration: none;
}

.label--link-info-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #000;
    font-family: "Manrope", sans-serif;
    background-color: #fff;
    padding: 10px;
    margin: 0px auto 0;
    width: 250px;
    text-decoration: none;
    font-weight: 200;
}

.label--link-info-escreva {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #000;
    font-family: "Manrope", sans-serif;
    background-color: #fff;
    padding: 5px;
    margin: 5px auto 0;
    width: 150px;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    font-weight: 200;
}


.label--link-confira-pecas {
    justify-content: center;
    margin-right: 50px;
    position: absolute;
    z-index: 9;
    display: flex;
    width: 310px;
    right: 0;
    margin-top: -95px;
    background: #fff;
    padding: 5px;
    color: #000;
    border-radius: 40px;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
}

.label--link-confira-pecas::after {
    content: "";
    background-image: url(/arquivos/seta-vermelha.png);
    margin-left: 5px;
    width: 43px;
    height: 42px;
    background-repeat: no-repeat;
}

.link--link-info-2 {
    text-decoration: none;
}

.link--link-info-escreva {
    text-decoration: none;
}

@media(max-width:990px) {
    .label--link-info-escreva {
    
        padding: 10px;
        margin: 5px auto 0;
        width: 155px;
        text-decoration: none;
        font-weight: 200;
        text-align: center;
        font-size: 18px;
    }


    .label--link-confira-pecas {
        margin-right: 10px;
       
    }
}