.flexRowContent--container-ana-castelo {
    flex-direction: column;
}

.flexRowContent--container-ana-castelo .stretchChildrenWidth {
    width: 100% !important;
}

.flexRow--container-bloco-1 {
    background-color: #F5F3EE;
}

.flexColChild--container-bloco-texto-1 {
    height: auto !important;
}

.flexRowContent--container-bloco-1 .stretchChildrenWidth {
    width: unset !important;
}

.flexRow--shelf-ana-castelo {
    background-color: #88050C;
    padding-bottom: 50px;
    padding-top: 30px;
}

.flexRowContent--shelf-4 {
    flex-direction: column;
}

.flexRowContent--shelf-4 .stretchChildrenWidth {
    width: unset !important;
}

.flexRow--container-bloco-3 {
    background: #F5F3EE;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 100px;
}

.flexRow--container-bloco-4 {
    background: #8E8D8D;
    width: 100%;
    background-size: cover;
}

.flexRow--container-bloco-5 {
    background: url(/arquivos/dobra-ana-castelo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.flexCol--container-bloco-texto-1 {
    max-width: 680px;
    font-family: "Manrope", sans-serif;
    margin-top: 40px;
}

.flexRowContent--container-bloco-1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px !important;
    padding-bottom: 70px;
}

.flexRowContent--container-bloco-5 {
    padding-bottom: 70px;
}

.flexCol--bloco-container-4-textos {
    justify-content: center;
    align-items: center;
}

.flexRowContent--container-bloco-4 {
    padding: 70px 0;
    padding-top: 70px !important;
}

.flexRowContent--container-texto-3-total {
    flex-direction: row-reverse;
    width: 1050px;
}

.flexRowContent--container-bloco-3 {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
}

.flexRowContent--container-bloco-3 .stretchChildrenWidth {
    width: unset !important;
}

.flexRowContent--shelf-ana-castelo .stretchChildrenWidth {
    width: unset !important;
}

.flexRowContent--shelf-ana-castelo {
    flex-direction: column;
}

.flexRowContent--container-bloco-4 .stretchChildrenWidth {
    width: unset !important;
}

.flexRowContent--container-bloco-5 {
    padding-top: 70px !important;
    justify-content: center;
}

.flexRowContent--container-bloco-4 {
    justify-content: space-evenly;
}


@media(max-width:990px) {
    .flexRowContent--container-bloco-1 {
        display: flex;
        justify-content: center;
        gap: 100px;
        padding-top: 50px !important;
        flex-direction: column;
    }


    .flexRowContent--container-texto-3-total {
        flex-direction: row-reverse;
        width: 100%;
    }

    .flexCol--container-bloco-texto-1 {
        max-width: 680px;
        font-family: "Manrope", sans-serif;
        margin-top: -20px;
    }

    .flexRowContent--container-bloco-5 {
        padding: 50px 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .flexRow--container-bloco-3 {

        padding-bottom: 50px;
    }
}