.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.galleryLayoutSwitcher {
  display: none;
}

.galleryTitle--layout {
  display: none;
}

.totalProductsMessage {
  text-transform: lowercase;
  font-weight: 500;
  color: #242424;
  font-size: 16px;
}

.totalProducts--layout {
  margin-left: 0;
  padding-left: 50px;
  padding-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat";
}

.filterTitleSpan,
.filterMessage {
  padding-left: 30px;
}

.filterTitleSpan {
  font-weight: 600;
  font-family: "Montserrat";
}

:global(.vtex-checkbox__line-container) {
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.filters--layout {
  background-color: #F0F0F0;
}

.gallery--grid {
  padding-left: 2rem;
  gap: 10px;
}

:global(.vtex-slider__values-container) {
  justify-content: center;
}

.galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  display: flex;
  margin-top: 5px;
  margin-left: 225px;
  right: unset;
}


:global(.vtex-flex-layout-0-x-flexRow--productRating) {
  opacity: 0;
}

.galleryItem--grid:hover :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-flex-layout-0-x-flexCol--testandomen) :global(.vtex-flex-layout-0-x-flexColChild--testandomen) :global(.vtex-flex-layout-0-x-flexRow--productRating) {
  opacity: 1;
}


.galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) {
  width: 280px;
}

.orderByText {
  color: #242424;
  text-transform: lowercase;
  font-weight: 400;

  visibility: hidden;
  position: absolute;
}

.filterPopupTitle {
  font-weight: bold;
  text-transform: capitalize;
  
  font-family: 'Montserrat';
}

.orderByButton {
  border: 1px solid;
  padding: 10px;
  padding-left: 20px;
  border-radius: 0;
}

.orderByOptionsContainer {
  margin-top: 35px;
}

.galleryItem--grid :global(.vtex-product-summary-2-x-nameContainer) {
  padding-bottom: 1rem;
  padding-top: 5px;
}

.galleryItem--grid :global(.vtex-button) {
  display: block !important;
  background-color: #009F35;
  width: 150px;
  height: 45px;
  border-radius: 0;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  display: block !important;

  width: 70px;
  height: 20px;
  border-radius: 0;
}

.galleryItem--grid :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-button) {
  display: block !important;
  background-color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 0;
}

.galleryItem--grid :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0;
  justify-content: flex-start;
}

.galleryItem--grid :global(.vtex-flex-layout-0-x-flexRow--productRating) {
  margin-top: 20px;
}

.galleryItem--grid :global(.vtex-product-summary-2-x-brandName) {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  height: 40px;
  font-family: 'Montserrat';
}

.galleryItem--grid :global(.vtex-flex-layout-0-x-flexRowContent) {
  justify-content: flex-start !important;
}

.filterMessage {
  font-size: 0;
}

.filterItem {
  gap: 5px;
}


.filterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__container) {
  display: none;
}

.galleryItem--grid {
  max-width: 32% !important;
  border: 1px solid #C6C6C6;
  height: 620px;
}


.filterAvailable .filterIcon::after {
  content: "+";
  display: flex;
  visibility: visible;
  color: #000;
  font-size: 18px;
}

.filterAvailable .caretIcon {
  visibility: hidden;
}

.filterIsOpen .filterIcon::after {
  content: "-";
  display: flex;
  visibility: visible;
  color: #000;
  font-size: 18px;
}

.filter__container--category-4 {
  display: none;
}

:global(.vtex-slider__right-value),
:global(.vtex-slider__left-value) {
  color: #000;
}

.filters--layout {
  position: sticky;
  width: 330px;
  top: 80px;
}

.filtersWrapper {
  position: sticky;
  top: 80px;
  width: 330px;
  margin-left: 10px;
}

.filterTemplateOverflow :global(.vtex-slider-container) :global(.vtex-slider) {
  width: 95%;
  margin: 0 auto;
}

:global(.vtex-slider__selector) {
  background: #000;
}

@media only screen and (max-width: 394px) {
  .galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) {
    width: 170px;
  }
}

@media only screen and (min-width: 395px) and (max-width: 420px) {
  .galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) {
    width: 190px;
  }
}

@media only screen and (max-width: 990px) {

  .galleryItem--grid {
    max-width: 50% !important;
    border: 1px solid #C6C6C6;
    height: auto;
    flex-basis: 49% !important;
    margin-bottom: 5px;
    padding: 0;

  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-flex-layout-0-x-flexCol--testandomen) :global(.vtex-flex-layout-0-x-flexColChild--testandomen) :global(.vtex-flex-layout-0-x-flexRow--productRating) {
    opacity: 1 !important;
  }
  

  .container--layout :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent){
    flex-direction: row-reverse;
  }

  .galleryItem--grid :global(.vtex-button) {
    display: block !important;
    background-color: #009F35;
    width: 95%;
    height: 50px;
    border-radius: 0;
  }


  .filterApplyButtonWrapper :global(.vtex-button ),
  .filterClearButtonWrapper  :global(.vtex-button ){
    background: #03034E;
    color: #fff;
  }
  
  .filters--layout {
    position: sticky;
    width: 150px;
    top: 80px;
  }

  .gallery--grid {
    padding-left: 0;
    gap: 5px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) {

    margin-left: 120px;

  }

 

  .container--layout :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-store-components-3-x-container ){
    padding: 0;
  }
}

@media only screen and (min-width: 1400px)  and (max-width: 1550px) {

  .gallery--grid {
    padding-left: 2rem;
    gap: 20px;
  }
  
  }

@media only screen and (min-width: 1600px) {

.gallery--grid {
  padding-left: 2rem;
  gap: 40px;
}

}