.arrow {
    font-size: 14px;
    font-family: 'Montserrat';
}

.termArrow,
.term {
    display: none;
}

.homeLink {
    visibility: hidden;
}

.homeLink::after {
    content: "Home";
    font-size: 14px;
    visibility: visible;
    font-family: "Montserrat";
}

.homeIcon {
    position: absolute;
}