.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexRowContent--menu-topo-bloco-1 {
  display: flex;
  justify-content: space-around;
}

.flexRowContent--menu-topo-bloco-1 .stretchChildrenWidth {
  width: unset !important;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #fff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #f4f4f4;
  padding: 20px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
  width: unset !important;
  margin: 0 auto;

}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 350px;
}


.flexColChild--bloco-deals .flexCol .flexColChild {
  height: unset !important;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexCol--bloco-preco {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
  margin-top: 20px;
}



.flexRowContent--container-button-pdp .stretchChildrenWidth :global(.vtex-button) {
  background: #009F35;
  width: 280px;
  height: 65px;
}

.flexRowContent--orderByAndSwitcher {
  align-items: center;
  gap: 15px;
  margin-left: 25px;
}

.flexRowContent--orderByAndSwitcher::before {
  content: "Ordenar por:";
}

.flexRow--container-banner-image-2 .flexRowContent {
  padding-top: 0px !important;
}

:global(.vtex-wish-list-1-x-outline) {
  background: url("/arquivos/coracao.png") !important;
  background-repeat: no-repeat !important;

}

.flexRowContent--shelf-ana-castelo .stretchChildrenWidth :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) :global(.vtex-slider-layout-0-x-sliderTrackContainer) :global(.vtex-slider-layout-0-x-sliderTrack--shelf) :global(.vtex-slider-layout-0-x-slide--shelf) {
  background-color: #fff;
}