.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0 10px;
  font-family: 'Montserrat';
  line-height: 21px;
}

.container {
  text-align: start;
}

.spacer {
  display: none;
}

.container .clearLink .element :global(.vtex-button) {
  display: none;
}


.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.containerNormal .clearLink .element {
  height: unset !important;
  padding-top: .3rem;
}

.imageNormal {
  object-fit: fill !important;
  max-height: 400px !important;
  border-radius: 0;
  z-index: 0;
}

.element :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
  justify-content: end;
}

.skuSelectorContainer--sku-selector-vitrine :global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  display: none;
}

.skuSelectorContainer--sku-selector-vitrine :global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: center;
  background: #fff9;
  align-items: center;
  width: 280px;
}



.SKUSelectorContainer--sku-selector-vitrine {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 170px;
}

:global(.vtex-search-result-3-x-galleryItem--grid) .container .clearLink .element .SKUSelectorContainer--sku-selector-vitrine {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-bottom: unset;
  margin-top: -70px;
  margin-left: 0px;
}

.skuSelectorInternalBox--sku-selector-vitrine {
  width: 28px;
  height: 28px;
}

.skuSelectorItemTextValue--sku-selector-vitrine {
  color: #000000 !important;
  padding: 0 !important;
  font-size: 14px !important;
}



.skuSelectorInternalBox--sku-selector-vitrine:hover{
background-color: #000000 !important;
}

.skuSelectorInternalBox--sku-selector-vitrine:hover .skuSelectorItemTextValue--sku-selector-vitrine{
  color: #fff !important;
 }


.skuSelectorItem--sku-selector-vitrine--selected .skuSelectorInternalBox--sku-selector-vitrine{
    background-color: #000000;
  border-color: #000 !important;
}

.skuSelectorItem--sku-selector-vitrine--selected .skuSelectorInternalBox--sku-selector-vitrine .skuSelectorItemTextValue--sku-selector-vitrine{
  color: #fff !important;

}

.skuSelectorInternalBox--sku-selector-vitrine{
  border-color: #000 !important;
}

.SKUSelectorContainer--sku-selector-vitrine {
  display: none;
}

.containerNormal .clearLink .element:hover .SKUSelectorContainer--sku-selector-vitrine {
  display: block;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  background-color: transparent !important;
}

@media (max-width:990px) {
  .imageNormal {
    height: unset !important;
    object-fit: unset !important;
    max-height: 400px !important;
    border-radius: 0;
    margin-top: 0px;
    z-index: 0;
  }

  
.SKUSelectorContainer--sku-selector-vitrine {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 200px;
}
  
}