.minicartIconContainer .cartIcon {
  visibility: hidden;
}


.minicartCheckoutButton :global(.vtex-button) {
  background-color: #009F35;
}

.minicartQuantityBadgeDefault {
  z-index: 1;
}

@media only screen and (max-width: 990px) {
  .minicartTitle {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}