.skuSelectorName {
    text-transform: lowercase;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 16px;
    color: #2e2e2e;
}

.skuSelectorName::before {
    content: " Selecionar ";
    font-weight: 400;
    text-transform: capitalize;
}

.skuSelectorOptionsList {
    margin-left: -2px;
}

.skuSelectorInternalBox:hover {
    border-color: #EC6D62;
}

.skuSelectorInternalBox:hover .skuSelectorItemTextValue {
    color: #EC6D62;
}


:global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  visibility: hidden;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input__label)::after {
    content: "Calcular Entrega";
    visibility: visible;
    display:flex;
    font-size: 18px;
}

.shippingContainer :global(.vtex-input-prefix__group) {
    width: 270px;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input) {
    width: 270px;
}

.skuSelectorItem--selected .skuSelectorItemTextValue {
    color: rgb(236, 109, 98);
    border-color: rgb(236, 109, 98);
}

.skuSelectorItem--selected .skuSelectorInternalBox {
    border-color: rgb(236, 109, 98);

}

:global(.vtex-address-form__field-empty) {
    display: flex;
    gap: 10px;
    align-items: center;
}

:global(.vtex-address-form__postalCode-forgottenURL) {
    text-decoration: underline;
    color: #000000;
    font-size: 16px;
    margin-top: 45px;
}

.shippingContainer  :global(.vtex-button) {
    position: absolute;
    margin-top: -70px;
    width: 100px;
    height: 35px;
    margin-left: 180px;
    font-size: 12px;
    background-color: transparent;
    border-color: transparent;
    visibility: hidden;
}


.productImagesContainer--list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


.shippingContainer 
:global(.vtex-button)
:global(.vtex-button__label)::after {
    content: "Calcular";
    display: flex;
    position: absolute;
    visibility: visible;
    color: #606060;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.swiperCaret .caretIcon{
    color: #000;
}