.flexRowContent--deals {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 0 !important;
}

.flexRowContent--container-bloco-img-text {
    flex-direction: column;
}

.flexCol--bloco-deals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.flexRowContent--banner-image-home {
    max-width: 1250px;
    margin: 0 auto;
}

.flexColChild--bloco-deals {
    height: unset !important;
    display: flex;
}

.flexColChild--bloco-deals .flexCol {
    display: flex;
    justify-content: center;
}

.flexRowContent--container-bloco-img-text .stretchChildrenWidth {
    width: 100% !important;
}

.flexRowContent--container-banner-image-2 {
    flex-direction: column;
    gap: 15px;
}

.flexRowContent--container-banner-image-2 .stretchChildrenWidth {
    width: unset !important;
}

.flexRowContent--bloco-banner-2 .stretchChildrenWidth {
    width: unset !important;
}

.flexRowContent--bloco-banner-2 {
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.flexRow--bloco-container-image-3 {
    margin-top: 40px;
    background-color: #E8E8E8;
}

.flexRow--shelf-4 {
    background-color: #fff;
}

.flexRow--banner-image-3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flexRowContent--bloco-container-image-3 {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 0 !important;
}

.flexRowContent--bloco-deals {
    gap: 15px;
}

.flexRowContent--shelf-4 .stretchChildrenWidth :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.flexRowContent--shelf-4 {
    padding: 40px;
}

@media only screen and (min-width: 1400px) {


    .flexRowContent--banner-image-home {
        max-width: 1420px;
        margin: 0 auto;
    }

    .flexRowContent--container-bloco-img-text .stretchChildrenWidth :global(.vtex-store-components-3-x-imageElement) {
        width: 205px;
    }

}

@media only screen and (max-width: 900px) {

    .flexRowContent--shelf-4 {
        padding: 5px;
    }
}


@media (min-width:1600px) {
    .flexRowContent--bloco-container-image-3 {
        max-width: 1400px;
    }

   
}