.contentItem--Bloco-contant-feminino {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.container--home {
    margin: 30px 0;
}

.listItem :global(.vtex-button) {
    background: transparent;
    color: #CDCDCD;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #CDCDCD;
    width: 175px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.listItemActive :global(.vtex-button) {
    background: transparent;
    color: #000;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid;
    font-family: 'Montserrat';
    font-weight: bold;
}