.paper--search-bar {
    width: 50vw;
}

.container--search-bar {
    align-items: flex-start;
    padding-top: 30px;
}

.flexRowContent--shelf-4 {
    padding: 0 40px;
}

@media(max-width:990px) {

    .paper--search-bar {
        width: 95vw;
        height: 80vh;
    }

    :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
        width: 95%;
    }
}