.sliderLeftArrow--shelf {
    margin-left: 70px;
    padding: 5px;
    background: #ffffff63 !important;
}

.sliderRightArrow--shelf {
    margin-right: 70px;
    padding: 5px;
    background: #ffffff63 !important;
}

.sliderLeftArrow--shelf-4 {
    margin-left: 30px;
}

.sliderRightArrow--shelf-4 {
    margin-right: 30px;

}

.caretIcon--shelf {
    width: 15px !important;
    height: 15px !important;
    padding: 5px;
}

.paginationDotsContainer--shelf {
    margin-bottom: -10px;
}

.sliderLayoutContainer--shelf .paginationDotsContainer--shelf {
    margin-bottom: -25px;
    margin-right: 4px;
}

.sliderLayoutContainer--shelf .paginationDotsContainer--shelf .paginationDot {
    background-color: #B9B9B9;
    height: 12px !important;
    width: 12px !important;
    display: none;
}

.sliderLayoutContainer--shelf .paginationDotsContainer--shelf .paginationDot--isActive {
    background-color: #888888;
    display: none;
}

:global(.vtex-render__container-id-home-mobile) .sliderLayoutContainer--carousel .sliderArrows {
    display: none;
}

@media only screen and (max-width: 990px) {

    .sliderLayoutContainer--shelf {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sliderRightArrow--shelf {
        margin-right: 20px;
        margin-top: -130px;
    }

    .sliderLeftArrow--shelf {
        margin-left: 20px;
        margin-top: -130px;
    }

    .sliderLayoutContainer--shelf .paginationDotsContainer--shelf{
        display: none;
    }
}