.imageElement--banner-image {
    width: 600px !important;
    height: auto;
}

.logoImage {
    width: 179px;
    height: 38px;
    margin-top: 10px;
}

.imageElement--banner-image-2-1 {
    width: 450px !important;
    height: 385px !important;
    object-fit: cover;
}

.imageElement--banner-image-2-2 {
    width: 450px !important;
    height: 385px !important;
    object-fit: cover;
}

.imageElement--banner-image-principal-2 {
    width: 750px !important;
    height: 780px !important;
    object-fit: cover;
}

.imageElement--container-image-3 {
    margin-top: 0px;
    width: 610px;
    padding-right: 0px;
    margin-right: -5px;
}

@media only screen and (max-width: 990px) {

    .imageElement--banner-image-principal-2,
    .imageElement--banner-image-2-2,
    .imageElement--banner-image-2-1 {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .imageElement--banner-image {
        width: 100% !important;
        height: 375px !important;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .imageElement--container-image-3 {
        height: auto;
        margin-top: 0px;
        width: 100%;
        padding-right: 0px;
        margin-right: 5px;
    }

    .imageElement--banner-image-2-1 {
        height: 270px !important;
        object-fit: cover;
    }
    .imageElement--banner-image-2-2 {
        height: 270px !important;
        object-fit: cover;
    }

    .imageElement--banner-image-principal-2 {

        height: auto !important;
    }

}

@media only screen and (min-width: 1400px) {
    .imageElement--banner-image {
        width: 680px !important;
        height: auto;
    }
}