.imageElement--banner-image {
    width: 600px !important;
    height: 650px;
}

.logoImage {
    height: 25px;
    width: 160px;
}

.imageElement--banner-image-2-1 {
    width: 463px !important;
    height: 318px !important;
}

.imageElement--banner-image-2-2 {
    width: 463px !important;
    height: 318px !important;
}

.imageElement--banner-image-principal-2 {
    width: 740px !important;
    height: 650px !important;
}

.imageElement--container-image-3{
    height: 600px;
    margin-top: 0px;
    width: 610px;
    padding-right: 0px;
    margin-right: -5px;
}

@media only screen and (max-width: 990px) {
    .imageElement--banner-image-principal-2,
    .imageElement--banner-image-2-2 ,
    .imageElement--banner-image-2-1 {
        width: 100% !important;
        margin-bottom: 20px;
    }
    
    .imageElement--banner-image {
        width: 100% !important;
        height: 375px !important;
        margin-bottom: 20px;
        object-fit: cover;
    }

}

@media only screen and (min-width: 1400px) {
    .imageElement--banner-image {
        width: 680px !important;
        height: 650px;
    }
}