.socialNetworkImage--pinterest {
    visibility: hidden;
}

.socialNetworkLink--instagram::before {
    content: "teste";
}

.socialNetworkLink--facebook::before {
    content: "teste";
}

.socialNetworkLink--pinterest::before {
    content: "teste";
}

.footerLayout .flexRow :global(.vtex-store-components-3-x-container) {
    padding: 0;
    width: 100%;
    max-width: 1920px;
}