:global(.vtex-store-footer-2-x-footerLayout) .menuItem .styledLink .styledLinkContent {
    font-size: 14px;
    color: #000;
    text-transform: math-auto;
    font-weight: 400;
    
    font-family: 'Montserrat';
}

.menuContainerHeader-content-nav-item--title {
    color: #071D49;
    text-decoration: none;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "freight-neo-pro";
}

.menuContainerHeader-content-nav-item {
    list-style: none;
}

.menuContainerHeader-content-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    margin-top: -5px;
    margin-bottom: 10px;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) .menuContainerHeader-content-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.menuContainerHeader-content-nav-item--dropdown {
    display: none !important;
}

.menuContainerHeader-content-nav-item:hover .menuContainerHeader-content-nav-item--dropdown {
    display: block !important;
    width: 90%;
    margin: 0 auto;
}

.menuContainerHeader-content-nav-item--dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .16);
}

.menuContainerHeader-content-nav-item--dropdown-items-category {
    display: flex;
}

.menuContainerHeader-content-nav-item--dropdown-items-banners {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items-item--title {

    font-family: "freight-neo-pro";
    color: #034ea1;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items-item,
.menuContainerHeader-content-nav-item--dropdown-items-category-items-item {
    list-style: none;
}

.menuContainerHeader-content-nav-item--dropdown-items {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items {
    display: flex;
    gap: 30px;
    width: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items {

    display: flex;
    width: 220px;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 0;
    justify-content: space-between;
    row-gap: 20px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items-item--title {
    color: #071D49;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;

    font-family: "freight-neo-pro";
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items-item--title {
    border: 1px solid #071D49;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-decoration: none;
}

.menuContainerHeader-content-nav-item--dropdown-items-banners-item :global(.vtex-render-runtime-8-x-lazyload) {
    height: 250px;
    margin-top: 25px;
}

.menuContainerHeader-content-nav-item--dropdown-items-banners::before {
    content: "Em Destaque";
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    color: #071D49;
    font-weight: bold;
    font-family: 'Montserrat';

}

.menuContainerHeader-content-nav-item--dropdown-items-number__title {
    text-transform: uppercase;

    font-size: 16px;
    color: #071D49;
    font-weight: bold;
    font-family: 'Montserrat';
}

.menuContainerHeader-content-nav-item--dropdown-items-number {
    margin-top: -15px;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items-item--title,
.menuContainerHeader-content-nav-item--dropdown-items-number-items-item,
.menuContainerHeader-content-nav-item--dropdown-items-number__title {
    font-size: 16px;
    color: #071D49;
    font-weight: bold;
    font-family: 'Montserrat';
}


.menuContainerHeader-content-nav-item--dropdown-items-number-items-item--title:hover {
    background-color: #071D49;
    color: #fff;
}

:global(.vtex-sticky-layout-0-x-container--sticky-header) :global(.vtex-flex-layout-0-x-flexRowContent--main-header) :global(.vtex-menu-2-x-menuContainerHeader-content-nav) .menuContainerHeader-content-nav-item:last-child .menuContainerHeader-content-nav-item--title {
    color: #CE0000 !important;
}


@media (max-width:990px) {
    :global(.vtex-store-footer-2-x-footerLayout) .menuItem .styledLink .styledLinkContent {
        text-transform: uppercase;
    }

    .menuContainer--menu-footer-mobile {
        align-items: normal !important;
    }
}



@media (max-width:1400px) {
    .menuContainerHeader-content-nav-item--dropdown-items-category-items {
        height: 220px;
    }

    .menuContainerHeader-content-nav-item--dropdown-items-number-items {
        display: flex;
        gap: 10px;
        width: 150px;
    }
}

@media (min-width:1500px) {
    .menuContainerHeader-content-nav-item--dropdown-items-number-items {
        display: flex;
        gap: 20px;
        width: 150px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0px;
    }

    .menuContainerHeader-content-nav-item:hover .menuContainerHeader-content-nav-item--dropdown {
        display: block !important;
        width: 90%;
        margin: 0 auto;
    }
}