.socialNetworkImage--pinterest {
    visibility: hidden;
}

.socialNetworkLink--instagram::before {
    content: "teste";
}

.socialNetworkLink--facebook::before {
    content: "teste";
}

.socialNetworkLink--pinterest::before {
    content: "teste";
}

