.flexCol--product-price {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-family: 'Montserrat';
}

.flexColChild--product-price {
    align-items: center;
    display: flex;

}

.flexRow--priceSaving-summary {
    position: absolute;
    margin-top: 0px;
    margin-left: 3px;
}


@media(max-width:990px) {
    .flexCol--product-price {
        flex-direction: column;
        align-items: unset;
    }

    .flexRowContent--bloco-developer {
        display: flex;
        justify-content: space-around;
        flex-direction: row !important;
    }

    .flexCol--footer-pagamento{
        justify-content: center;
    }

    .flexRow--bloco-pagamento,
    .flexRowContent--bloco-selo-seguranca{
        border-top: 1px solid #E0E0E0;
        padding: 30px;
    }

    .flexRowContent--bloco-developer{
        border-top: 1px solid #E0E0E0;
        padding: 30px;

        border-bottom: 1px solid #E0E0E0;
    }

    .flexRow--payment-methods{
        margin-top: 0px;
        margin-bottom: 0px;
      }
}

