.sliderArrows--slide-carousel-banner-eco-1{
    color: #9a7751;
    border: 1px solid #9a7751;
    padding: 10px;
    border-radius: 30px;
}

.paginationDotsContainer--slide-carousel-banner-eco-1,
.paginationDotsContainer--slide-carousel-eco-1{
    display: none;
}