.menuItem .styledLink .styledLinkContent{
    font-weight: 700;
    color: #071D49;
    font-size: 14px;
    text-transform: uppercase;
}

.styledLinkContent--menu-sale{
    color: red !important;
}
.menuContainerNav--menu-atendimento{
    margin-right: 70px;
}