@font-face {
    font-family: "freight-neo-pro";
    src: url(assets/fonts/Freight-Neo-Pro-Book.otf);
    font-weight: 400;
  }

  @font-face {
    font-family: "freight-neo-pro";
    src: url(assets/fonts/Freight-Neo-Pro-Bold.otf);
    font-weight: 600;
  }

  @font-face {
    font-family: "freight-neo-pro";
    src: url(assets/fonts/Freight-Neo-Pro-Black.otf);
    font-weight: bold;
  }


  @font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Kcobra-Regular';
    src: url(assets/fonts/Kcobraletraregular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: 'Kcobra-bold';
    src: url(assets/fonts/Kcobraletrabold.ttf);
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
  }
  

  @font-face {
    font-family: "Work Sans";
    src: url(assets/fonts/WorkSans-Regular.ttf);
    font-weight: 400;
  }
  

  @font-face {
    font-family: "Work Sans";
    src: url(assets/fonts/WorkSans-Bold.ttf);
    font-weight: bold;
  }


  @font-face {
    font-family: 'Rocky Compressed';
    src: url(assets/fonts/RockyComp-Bold.otf), url(assets/fonts/RockyComp-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Rocky Compressed';
    src: url(assets/fonts/RockyComp-Regular.otf), url(assets/fonts/RockyComp-Regular.ttf);
    font-weight: 400;
  }

  
  @font-face {
    font-family: 'Distillery-Strong';
    src: url(assets/fonts/Distillery-Strong.otf), url(assets/fonts/Distillery-Strong.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope-Regular.ttf), url(assets/fonts/Manrope-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope-Regular.ttf), url(assets/fonts/Manrope-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope-Light.ttf), url(assets/fonts/Manrope-Light.ttf);
    font-weight: 250;
  }

  @font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope-ExtraLight.ttf), url(assets/fonts/Manrope-ExtraLight.ttf);
    font-weight: 200;
  }